<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">/home/model-server/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${LOG_DIR}/torchserve.log"
                     filePattern="${LOG_DIR}/torchserve-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="AccessRollingFile" fileName="${LOG_DIR}/access_log.log"
                     filePattern="${LOG_DIR}/access_log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ModelRollingFile" fileName="${LOG_DIR}/model_log.log"
                     filePattern="${LOG_DIR}/model_log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <Logger name="ACCESS_LOG" level="info" additivity="false">
            <AppenderRef ref="AccessRollingFile"/>
        </Logger>

        <Logger name="MODEL_LOG" level="info" additivity="false">
            <AppenderRef ref="ModelRollingFile"/>
        </Logger>

        <Logger name="org.apache.catalina" level="info">
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="org.pytorch" level="debug">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
